numpy>=1.24,<3
numba>=0.60
tqdm>=4
cupy-cuda12x
nvidia-cublas-cu12
nvidia-cusparse-cu12
nvidia-cusolver-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
pytest>=8
hypothesis>=6
python-sat>=1.9
